:root {
  --clr-primary: #0b0d17;
  --clr-accent: #d0d6f9;
  --clr-white: #fff;
  --clr-grey: rgb(151, 151, 151);
  --clr-grey-transparent: rgb(151, 151, 151, 0.25);
  --ff-main: "Bellefair", sans-serif;
  --ff-secondary: "Barlow", sans-serif;
  --ff-secondary-tight: "Barlow Condensed", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-1: 5rem;
  --fs-2: 3.5rem;
  --fs-3: 1.5rem;
  --fs-4: 1.125rem;
  --fs-5: 1.125rem;
  --fs-6: 1.75rem;
  --fs-7: 1rem;
  --fs-8: 0.875rem;
  --fs-9: 0.9375rem;
}
@media (min-width: 43.75rem) {
  :root {
    --fs-1: 9rem;
    --fs-2: 5rem;
    --fs-3: 2.5rem;
    --fs-4: 1.5rem;
    --fs-5: 1.25rem;
    --fs-9: 1rem;
  }
}
@media (min-width: 62.5rem) {
  :root {
    --fs-1: 9rem;
    --fs-2: 6rem;
    --fs-3: 3.5rem;
    --fs-4: 2rem;
    --fs-5: 1.75rem;
    --fs-6: 1.75rem;
    --fs-7: 0.875rem;
    --fs-8: 1rem;
    --fs-9: 1.125rem;
  }
}
:root {
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 2.5rem;
  --sp-9: 3rem;
  --sp-10: 4rem;
  --sp-11: 5rem;
  --sp-12: 6rem;
  --sp-13: 8rem;
  --ls-0: 0;
  --ls-1: 2px;
  --ls-2: 4px;
  --lh-1: 1;
  --lh-2: 1.8;
  --bs-inset-right: inset -3px 0px 0px #fff;
  --bs-inset-bottom: inset 0px -3px 0px #fff;
  --desktop-container-width: 81.25rem;
  --br-circle: 50%;
  --cta-btn-size: 9rem;
}
@media (min-width: 43.75rem) {
  :root {
    --cta-btn-size: 17rem;
  }
}
:root {
  --generic-container-max-width: 32rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  --bg-mobile: url(../assets/home/background-home-mobile.jpg);
  --bg-tablet: url(../assets/home/background-home-tablet.jpg);
  --bg-desktop: url(../assets/home/background-home-desktop.jpg);
}
body[data-destination] {
  --bg-mobile: url(../assets/destination/background-destination-mobile.jpg);
  --bg-tablet: url(../assets/destination/background-destination-tablet.jpg);
  --bg-desktop: url(../assets/destination/background-destination-desktop.jpg);
}
body[data-crew] {
  --bg-mobile: url(../assets/crew/background-crew-mobile.jpg);
  --bg-tablet: url(../assets/crew/background-crew-tablet.jpg);
  --bg-desktop: url(../assets/crew/background-crew-desktop.jpg);
}
body[data-technology] {
  --bg-mobile: url(../assets/technology/background-technology-mobile.jpg);
  --bg-tablet: url(../assets/technology/background-technology-tablet.jpg);
  --bg-desktop: url(../assets/technology/background-technology-desktop.jpg);
}
body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  min-height: 100vh;
  padding-top: var(--sp-6);
  background-size: cover;
  background-image: var(--bg-mobile);
}
@media (min-width: 43.75rem) {
  body {
    padding-top: 0;
    background-image: var(--bg-tablet);
  }
}
@media (min-width: 62.5rem) {
  body {
    padding-top: var(--sp-8);
    background-image: var(--bg-desktop);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.section {
  padding-inline: var(--sp-6);
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.container--content {
  --flow-spacer: var(--sp-9);
}
@media (min-width: 62.5rem) {
  .container--content {
    padding-inline: var(--sp-12);
  }
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.fg-white {
  color: var(--clr-white);
}

.fg-accent {
  color: var(--clr-accent);
}

.fg-primary {
  color: var(--clr-primary);
}

.bg-white {
  background-color: var(--clr-white);
}

.uppercase {
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: row;
}

.list--col-mobile {
  flex-direction: column;
}
@media (min-width: 43.75rem) {
  .list--col-mobile {
    flex-direction: row;
  }
}

.underline-indicator {
  --_underline-shadow: var(--underline-shadow, var(--bs-inset-bottom));
}
.underline-indicator[data-selected] {
  box-shadow: var(--_underline-shadow);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--clr-white);
  opacity: 0.25;
}

.tp-1 {
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-2 {
  font-family: var(--ff-main);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-3 {
  font-family: var(--ff-main);
  font-size: var(--fs-3);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-4 {
  font-family: var(--ff-main);
  font-size: var(--fs-4);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-5 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-5);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-2);
}

.tp-6 {
  font-family: var(--ff-main);
  font-size: var(--fs-6);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-2);
}
@media (min-width: 43.75rem) {
  .tp-6 {
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);
    line-height: normal;
    letter-spacing: var(--ls-2);
  }
}
@media (min-width: 62.5rem) {
  .tp-6 {
    font-family: var(--ff-main);
  }
}

.tp-7 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-8);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-1);
}

.tp-8 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-7);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-1);
}

.tp-9 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-9);
  font-weight: var(--fw-regular);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);
}

@media (min-width: 43.75rem) {
  .section--header {
    padding-inline-end: 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 43.75rem) {
  .navigation {
    justify-content: start;
    gap: var(--sp-9);
  }
}
@media (min-width: 62.5rem) {
  .navigation {
    justify-content: space-between;
    gap: 0;
  }
}

.navigation__decor {
  display: none;
}
@media (min-width: 62.5rem) {
  .navigation__decor {
    position: relative;
    z-index: 2;
    right: -5%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--clr-grey-transparent);
  }
}

.navigation__list {
  --blur: 1rem;
  backdrop-filter: blur(var(--blur));
  position: fixed;
  top: 0;
  right: 0;
  left: 40%;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
@media (prefers-reduced-motion: reduce) {
  .navigation__list {
    transition: none;
  }
}
.navigation__list {
  padding-top: var(--sp-13);
  padding-inline-start: var(--sp-7);
  gap: var(--sp-7);
}
@media (min-width: 43.75rem) {
  .navigation__list {
    --blur: 1rem;
    width: 100%;
    position: static;
    transform: none;
    justify-content: end;
    gap: var(--sp-9);
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0;
    padding-inline: var(--sp-8);
  }
}
@media (min-width: 62.5rem) {
  .navigation__list {
    width: auto;
    padding-inline-start: 160px;
  }
}

[data-open=true] > .navigation__list {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
@media (prefers-reduced-motion: reduce) {
  [data-open=true] > .navigation__list {
    transition: none;
  }
}

.navigation__btn {
  position: relative;
  z-index: 10;
  background: none;
  border: none;
}
@media (min-width: 43.75rem) {
  .navigation__btn {
    display: none;
  }
}

.btn {
  cursor: pointer;
}

[data-open=true] .btn__img--hamburger {
  display: none;
}

[data-open=false] .btn__img--close {
  display: none;
}

.nav__item {
  --underline-shadow: var(--bs-inset-right);
}
.nav__item a {
  display: flex;
  gap: var(--sp-5);
}
.nav__item a > span {
  font-weight: var(--fw-bold) !important;
}
@media (min-width: 43.75rem) {
  .nav__item {
    padding-block: var(--sp-8);
    --underline-shadow: var(--bs-inset-bottom);
  }
}

.section--cta {
  padding-block-start: var(--sp-9);
}
@media (min-width: 43.75rem) {
  .section--cta {
    padding-block-start: var(--sp-13);
  }
}
@media (min-width: 62.5rem) {
  .section--cta {
    padding-block-start: 300px;
  }
}

.cta {
  max-width: var(--generic-container-max-width);
  display: grid;
  row-gap: var(--sp-12);
}
@media (min-width: 43.75rem) {
  .cta {
    row-gap: var(--sp-10);
  }
}
@media (min-width: 62.5rem) {
  .cta {
    max-width: var(--desktop-container-width);
    grid-template-columns: 1fr 1fr;
    padding-inline-start: var(--sp-12);
  }
}

.cta__info {
  --flow-spacer: var(--sp-6);
  text-align: center;
}
@media (min-width: 62.5rem) {
  .cta__info {
    text-align: start;
  }
}

.cta__action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cta-btn-size);
  aspect-ratio: 1;
  border-radius: var(--br-circle);
  cursor: pointer;
}

.section--destination {
  padding-block-start: var(--sp-9);
}

.title {
  text-align: center;
}
.title span {
  opacity: 0.25;
}
@media (min-width: 43.75rem) {
  .title {
    text-align: start;
  }
}

.destination {
  max-width: var(--generic-container-max-width);
  margin-inline: auto;
  display: grid;
  row-gap: var(--sp-9);
}
@media (min-width: 43.75rem) {
  .destination {
    row-gap: var(--sp-11);
  }
}
@media (min-width: 62.5rem) {
  .destination {
    max-width: none;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-6);
  }
}

.destination__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  --flow-spacer: var(--sp-6);
}
@media (min-width: 62.5rem) {
  .destination__info {
    align-items: start;
    text-align: start;
  }
}

.planets {
  gap: var(--sp-7);
}

.planets__item {
  padding-block-end: var(--sp-5);
  cursor: pointer;
}
.planets__item[data-selected] {
  color: var(--clr-white);
}
.planets__item:hover {
  color: var(--clr-white);
}

.destination__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination__text {
  --flow-spacer: var(--sp-5);
}

.img-planet {
  max-width: 50%;
  aspect-ratio: 1;
}
@media (min-width: 62.5rem) {
  .img-planet {
    max-width: 100%;
  }
}

.destination__details {
  gap: var(--sp-6);
}
@media (min-width: 43.75rem) {
  .destination__details {
    width: 100%;
    justify-content: space-around;
  }
}
@media (min-width: 62.5rem) {
  .destination__details {
    justify-content: start;
    gap: 10%;
  }
}

.details {
  --flow-spacer: var(--sp-4);
}

/*# sourceMappingURL=styles.css.map */
