@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;

  padding-top: var(--sp-6);

  background-size: cover;
  background-image: url(../assets/home/background-home-mobile.jpg);

  @media (min-width: $bp-tablet) {
    padding-top: 0;
    background-image: url(../assets/home/background-home-tablet.jpg);
  }

  @media (min-width: $bp-desktop) {
    padding-top: var(--sp-6);
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
}

.overflow-hidden {
  overflow: hidden;
}

main {
  height: 400px;
}

.section {
  padding-inline: var(--sp-6);
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.fg-white {
  color: var(--clr-white);
}

.uppercase {
  text-transform: uppercase;
}
