@use "utils" as *;
@use "variables" as *;

.section--header {
  @media (min-width: $bp-tablet) {
    padding-inline-end: 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $bp-tablet) {
    justify-content: start;
    gap: var(--sp-9);
  }

  @media (min-width: $bp-desktop) {
    justify-content: space-between;
    gap: 0;
  }
}

.navigation__logo {
}

.navigation__decor {
  display: none;

  @media (min-width: $bp-desktop) {
    position: relative;
    z-index: 2;
    right: -5%;

    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--clr-grey-transparent);
  }
}

.navigation__list {
  --blur: 1rem;
  backdrop-filter: blur(var(--blur));

  position: fixed;
  top: 0;
  right: 0;
  left: 40%;
  bottom: 0;
  transform: translateX(100%);

  transition: transform 0.3s ease-in;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  padding-top: var(--sp-13);
  padding-inline-start: var(--sp-7);

  display: flex;
  flex-direction: column;
  gap: var(--sp-7);

  @media (min-width: $bp-tablet) {
    --blur: 1rem;
    width: 100%;
    position: static;
    transform: none;

    flex-direction: row;
    justify-content: end;
    gap: var(--sp-9);

    background-color: rgba(255, 255, 255, 0.03);
    padding: 0;
    padding-inline: var(--sp-8);
  }

  @media (min-width: $bp-desktop) {
    width: auto;
    padding-inline-start: 160px;
  }
}

[data-open="true"] > .navigation__list {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.navigation__btn {
  position: relative;
  z-index: 10;

  background: none;
  border: none;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

.btn {
  cursor: pointer;
}

[data-open="true"] .btn__img--hamburger {
  display: none;
}

[data-open="false"] .btn__img--close {
  display: none;
}

.nav__item {
  &[data-selected] {
    box-shadow: var(--bs-inset-right);

    @media (min-width: $bp-tablet) {
      box-shadow: var(--bs-inset-bottom);
    }
  }

  a {
    display: flex;
    gap: var(--sp-5);
  }

  a > span {
    font-weight: var(--fw-bold) !important;
  }

  @media (min-width: $bp-tablet) {
    padding-block: var(--sp-8);
  }
}
