@use "utils" as *;
@use "variables" as *;

.section--destination {
  padding-block-start: var(--sp-9);
}

.title {
  text-align: center;
  span {
    opacity: 0.25;
  }

  @media (min-width: $bp-tablet) {
    text-align: start;
  }
}

.destination {
  display: grid;
  row-gap: var(--sp-9);

  @media (min-width: $bp-tablet) {
    row-gap: var(--sp-11);
  }

  @media (min-width: $bp-desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-6);
  }
}

.destination__info {
  text-align: center;
  --flow-spacer: var(--sp-6);

  @media (min-width: $bp-desktop) {
    text-align: start;
  }
}

.planets {
  gap: var(--sp-7);
}

.planets__item {
  padding-block-end: var(--sp-5);
  cursor: pointer;

  &[data-selected] {
    color: var(--clr-white);
  }

  &:hover {
    color: var(--clr-white);
  }
}

.destination__img {
}

.img-planet {
  max-width: 50%;
  aspect-ratio: 1;

  @media (min-width: $bp-desktop) {
    max-width: 100%;
  }
}

.destination__text {
  --flow-spacer: var(--sp-5);

  min-height: 6lh;
}

.destination__details {
  gap: var(--sp-6);

  @media (min-width: $bp-tablet) {
    width: 100%;
    justify-content: space-around;
  }

  @media (min-width: $bp-desktop) {
    justify-content: start;
    gap: 10%;
  }
}

.details {
  --flow-spacer: var(--sp-4);
}
