@use "utils" as *;
@use "variables" as *;

.section:has(.tech) {
  padding-inline: 0;

  @media (min-width: $bp-desktop) {
    padding-inline: var(--sp-6);
  }
}

.tech {
  display: grid;
  row-gap: var(--sp-7);
  padding-bottom: var(--sp-7);

  @media (min-width: $bp-tablet) {
    row-gap: var(--sp-7);
    padding-bottom: 0;
  }

  @media (min-width: $bp-desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-6);
    padding-bottom: var(--sp-7);
  }
}

.tech__title {
  text-transform: uppercase;
  --flow-spacer: var(--sp-3);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-5);
  }
}

.tech__subtitle {
  text-transform: uppercase;
}

.tech__info {
  padding-inline: var(--sp-6);

  text-align: center;

  --flow-spacer: var(--sp-6);

  @media (min-width: $bp-desktop) {
    text-align: start;
    padding-inline: 0;
    padding-top: var(--sp-13);
    padding-bottom: var(--sp-7);

    gap: var(--sp-5);
  }
}

.tech__text {
  min-height: 6lh;

  @media (min-width: $bp-tablet) {
    min-height: 4lh;
  }
}

.tech__img {
  @media (min-width: $bp-tablet) {
    align-items: end;
  }

  @media (min-width: $bp-desktop) {
    // align-items: center;
  }
}

.img-tech {
  width: 100%;
  max-height: 258px;

  object-fit: cover;
  object-position: bottom;

  @media (min-width: $bp-tablet) {
    max-height: 357px;
    object-position: center;
  }
}

.dots {
  gap: var(--sp-5);
  @media (min-width: $bp-desktop) {
    gap: var(--sp-8);

    margin-top: auto;
  }
}

.dot__btn {
  cursor: pointer;
  width: 10px;
  aspect-ratio: 1;
  border: none;

  border-radius: var(--br-circle);
}

.dot__item {
  opacity: 0.3;

  &[data-selected] {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}
