@use "utils" as *;
@use "variables" as *;

.section:has(.tech) {
  padding-inline: 0;

  @media (min-width: $bp-desktop) {
    // padding-inline: var(--sp-6);
    padding-inline-start: var(--sp-6);
  }

  & .push-inside-desktop {
    padding-inline-end: 0;
  }
}

.tech {
  display: grid;
  row-gap: var(--sp-7);
  padding-bottom: var(--sp-7);

  @media (min-width: $bp-tablet) {
    row-gap: var(--sp-7);
  }

  @media (min-width: $bp-desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-7);
    align-items: center;
  }
}

.tech__title {
  text-transform: uppercase;
  --flow-spacer: var(--sp-3);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-5);
  }

  @media (min-width: $bp-desktop) {
    // min-height: 2lh;
  }
}

.tech__subtitle {
  text-transform: uppercase;
}

.tech__info {
  padding-inline: var(--sp-6);

  text-align: center;

  --flow-spacer: var(--sp-6);

  @media (min-width: $bp-desktop) {
    text-align: start;
    padding-inline: 0;
    padding-top: var(--sp-10);
    padding-bottom: var(--sp-7);

    gap: var(--sp-10);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    --flow-spacer: 0;
  }
}

.tech__text {
  min-height: 12rem;
  min-height: 6lh;

  @media (min-width: $bp-tablet) {
    min-height: 12rem;
    min-height: 4lh;
    --flow-spacer: var(--sp-6);
  }
}

.tech__img {
  @media (min-width: $bp-tablet) {
    align-items: end;
  }

  @media (min-width: $bp-desktop) {
    align-items: center;
    grid-column: 2;
  }
}

.img-tech {
  width: 100%;
  max-height: 258px;

  object-fit: cover;
  object-position: bottom;

  @media (min-width: $bp-tablet) {
    max-height: 357px;
    object-position: center;
  }

  @media (min-width: $bp-desktop) {
    max-height: none;
    object-position: bottom;
  }
}

.digits {
  gap: var(--sp-5);
  justify-content: center;

  @media (min-width: $bp-desktop) {
    gap: var(--sp-7);
  }
}

.digit__btn {
  cursor: pointer;

  width: 40px;
  aspect-ratio: 1;

  border: none;
  border-radius: var(--br-circle);

  color: var(--clr-white);
  background-color: transparent;

  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);

  @media (min-width: $bp-tablet) {
    width: 56px;
  }

  @media (min-width: $bp-desktop) {
    width: 80px;
  }
}

.digit__item {
  &[data-selected] > .digit__btn,
  &:hover > .digit__btn {
    color: var(--clr-primary);
    background-color: var(--clr-white);
    box-shadow: none;
  }
}
