@use "utils" as *;
@use "variables" as *;

.tp-1 {
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-2 {
  font-family: var(--ff-main);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);

  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-3 {
  font-family: var(--ff-main);
  font-size: var(--fs-3);
  font-weight: var(--fw-regular);

  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-4 {
  font-family: var(--ff-main);
  font-size: var(--fs-4);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-0);
}

.tp-5 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-5);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-2);
}

.tp-6 {
  font-family: var(--ff-main);
  font-size: var(--fs-6);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-2);

  @media (min-width: $bp-tablet) {
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);
    line-height: normal;
    letter-spacing: var(--ls-2);
  }

  @media (min-width: $bp-desktop) {
    font-family: var(--ff-main);
  }
}

.tp-7 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-8);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-1);
}

.tp-8 {
  font-family: var(--ff-secondary-tight);
  font-size: var(--fs-7);
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: var(--ls-1);
}

.tp-9 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-9);
  font-weight: var(--fw-regular);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);
}
