@use "./utils" as *;

$bp-tablet: #{toRem(768px)};
$bp-desktop: #{toRem(1000px)};

:root {
  --clr-primary: #0b0d17;
  --clr-accent: #d0d6f9;
  --clr-white: #fff;

  --ff-main: "Bellefair", sans-serif;
  --ff-secondary: "Barlow", sans-serif;
  --ff-secondary-tight: "Barlow Condensed", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  // FONT SIZE
  --fs-1: #{toRem(144px)};
  --fs-2: #{toRem(100px)};
  --fs-3: #{toRem(56px)};
  --fs-4: #{toRem(32px)};
  --fs-5: #{toRem(28px)};
  --fs-6: #{toRem(18px)};
  --fs-7: #{toRem(16px)};
  --fs-8: #{toRem(14px)};

  // SPACING
  --sp-1: #{toRem(2px)};
  --sp-2: #{toRem(4px)};
  --sp-3: #{toRem(8px)};
  --sp-4: #{toRem(12px)};
  --sp-5: #{toRem(16px)};
  --sp-6: #{toRem(24px)};
  --sp-7: #{toRem(32px)};
  --sp-8: #{toRem(40px)};
  --sp-9: #{toRem(48px)};
  --sp-10: #{toRem(64px)};
  --sp-11: #{toRem(80px)};
  --sp-12: #{toRem(96px)};
  --sp-13: #{toRem(128px)};

  // LETTER SPACING
  --ls-0: 0;
  --ls-1: 2px;
  --ls-2: 4px;

  // LINE HEIGHT
  --lh-1: 1;
  --lh-2: 1.8;

  // BOX SHADOWS
  --bs-inset-right: inset -3px 0px 0px #fff;

  --bs-inset-bottom: inset 0px -3px 0px #fff;

  --desktop-container-width: #{toRem(1300px)};
}
